<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>自途网</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/all_need.css">
	<style>
        .active2{
            background-color: #0e2231;
            color: #ffffff;
            padding: 5px;
            border-radius: 2px
        }
        .box_in{
            padding-left: 10px;
        }
        .xx{
           font:17px/1em  "楷体",sans-serif;
        }
    </style>

<body>
	<!----------分类查询------------->
	<div class="text-center">
        <h1 ><span class="glyphicon glyphicon-cd"></span>自途网账户修改密码</h1>
        <form class="form-horizontal" action="{% url 'reset_post' %}" method="post">
            <div class="form-group form-inline">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <input type="email" class="form-control" name="email"
                           placeholder="请输入您的邮箱" value="{{ email_register }}">
                    {% if register_form.email.errors %}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                        </div>
                    {% else %}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    {% endif %}
                </div>
                {% if register_form.email.errors %}
                    <div class="alert alert-danger fade in">
                        <button class="close" type="button" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        {{ register_form.email.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group form-inline">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-eye-close"></span>
                    </div>
                    <input type="password" class="form-control" name="password"
                           placeholder="请输入您的密码">
                    {% if register_form.password.errors %}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                        </div>
                    {% else %}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    {% endif %}
                </div>
                {% if register_form.password.errors %}
                    <div class="alert alert-danger fade in">
                        <button class="close" type="button" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        {{ register_form.password.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group form-inline">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    {{ form.captcha }}
                    {% if register_form.captcha.errors %}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                        </div>
                    {% else %}
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    {% endif %}
                </div>
                    {% if register_form.captcha.errors %}
                        <div class="alert alert-danger fade in">
                            <button class="close" type="button" data-dismiss="alert">
                                <span>&times;</span>
                            </button>
                            {{ register_form.captcha.errors }}
                        </div>
                    {% endif %}
                    {% if info_register %}
                        <div class="alert alert-danger fade in">
                            <button class="close" type="button" data-dismiss="alert">
                                <span>&times;</span>
                            </button>
                            {% autoescape off %}
                                {{ info_register }}
                            {% endautoescape %}
                        </div>
                    {% endif %}
            </div>
            <hr>
            <button type="submit" class="btn btn-default" style="width: 280px">立即注册</button>
            <h1></h1>
        {% csrf_token %}
        </form>
    </div>

<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/all_need.js"></script>
<script src="../static/js/timelimit.js"></script>
<script>
    $(".timecount").fnTimeCountDown("2018/07/08 18:45:13");
</script>
</body>
</html>