{#继承来自#}
    {% extends 'base.html' %}
{#载入静态路径#}
    {% load staticfiles %}
{#自定义title#}
    {% block title %}
        <title>自途网-关于我们</title>
    {% endblock %}
{#自定义content#}
    {% block content %}
        <div class="container">
            <h3></h3>
            <div class="row" style="height: 800px">
                <div class="col-xs-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#1" data-toggle="tab">企业合作</a></li>
                        <li><a href="#2" data-toggle="tab">人才招聘</a></li>
                        <li><a href="#3" data-toggle="tab">联系我们</a></li>
                        <li><a href="#4" data-toggle="tab">特色服务</a></li>
                        <li><a href="#5" data-toggle="tab">常见问题</a></li>
                        <li><a href="#6" data-toggle="tab">意见反馈</a></li>
                        <li><a href="#7" data-toggle="tab">友情链接</a></li>
                        <li><a href="#8" data-toggle="tab">售后服务</a></li>
                        <li><a href="#9" data-toggle="tab">关于我们</a></li>
                    </ul>
                </div>
                <div class="col-xs-9">
                    <div class="tab-content" style="padding: 10px;">
                        <div class="tab-pane fade in active" id="1">
                            <h2 id="section-2">企业合作</h2>
                            <a href="" class="btn btn-success">上海电机学院</a>
                            <h3></h3>
                            <div class="jumbotron">
                                <h3>此网站只为作品展示，不用于任何商业用途</h3>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="2">
                            <h2 id="section-3">人才招聘</h2>
                            <h5>
                                <ul>
                                    <li><a href="#">Python高级开发工程师</a></li>
                                    <li><a href="#">Java高级开发工程师</a></li>
                                    <li><a href="#">PHP高级开发工程师</a></li>
                                    <li><a href="#">技术总监</a></li>
                                    <li><a href="#">架构师</a></li>
                                    <li><a href="#">UI设计师</a></li>
                                    <li><a href="#">程序员鼓励师</a></li>
                                    <li><a href="#">新媒体运营</a></li>
                                    <li><a href="#">Hr</a></li>
                                    <li><a href="#">财务</a></li>
                                </ul>
                            </h5>
                        </div>
                        <div class="tab-pane fade" id="3">
                            <h2 id="section-4">联系我们</h2>
                            <p>
                                自途旅游网的总部设在中国上海，在北京、广州、成都、香港、深圳、杭州、南京、武汉、天津、西安、重庆、青岛、沈阳、厦门、昆明等22个城市设有分支机构。自途现有员工30000余人，是国内领先的综合性旅行服务公司，提供酒店预订、机票预订、旅游度假、商旅管理、美食订餐及旅游资讯等全方位旅行服务。<br>
                            <h5>服务热线：</h5>境内： 1010-6666 或 400-820-6666<br>
                            转1 酒店预订 转2 国内机票预订 转3 国际机票预订<br>
                            转4 旅游度假预订 转5 用车服务 转6 自途电话选择火车票/汽车票的专线服务<br>
                            转7 礼品卡购买 按# 客服<br>
                            香港：+852-3069-9966<br>
                            其他海外地区：+86-21-3406 4888<br>
                            商旅服务热线：<br>400-980-6666商旅香港热线：800-90-6666商旅海外热线：+86-21-5260 4658<br>
                            英文服务热线：<br>
                            Mainland China: 400-619-9999<br>
                            Outside Mainland China: +86-21-3210 4669
                            </p>
                        </div>
                        <div class="tab-pane fade" id="4">ExtJS...</div>
                        <div class="tab-pane fade" id="5">
                            <h2 id="section-6">常见问题</h2>
                            <p>
                            <h4>1.能到你们那里付款吗？</h4>
                            建议您选择网上支付、电话支付和汇款。<br>
                            <h4>2.预订成功后我需要做什么？</h4>
                            请您耐心等待销售人员与您联系，核实订单和团款等，并与您核对出行人信息或告知您递交签证资料的方式和地址等。<br>
                            <h4>3.自途网能够代办的证件有哪些？</h4>
                            目前自途网不能代办任何证件。<br>
                            <h4>4.没有护照可以进行预订吗？</h4>
                            可以，但是您需在出行前10天内，正确提交您的护照信息，根据出行线路的不同，提交时间会有所不同，详细请您咨询40088-40086。<br>
                            提示：国内旅游需要您的身份证，港澳旅游需要您自行办理港澳通行证及有效签注，台湾旅游需要您办理台湾往来通行证，出境旅游需要您办理护照，以上都为报名时持有的基本证件。<br>
                            <h4>5.护照要过期了怎么办？</h4>
                            请您自行更换护照延期<br>
                            国内<br>
                            成人<br>
                            需要身份证，儿童需要户口本或者身份证，婴儿需要出生证或者户口本 年龄要求：婴儿—2周到2周岁 儿童—2周岁到12周岁<br>
                            请您自行更换护照延期<br>
                            港澳<br>
                            请问您的港澳通行证办好了吗？签注是什么类型的？<br>
                            团签需要机场送关，每人300元送关费，在机场交给送关人。<br>
                            港澳通行证及签注需要在户口所在地出入境管理处办理。<br>
                            北京市18个公安分县局全部受理市民出入境证件工作。市民不受户籍所在地限制，可就近选择18个分县局任何一个出入境接待大厅递交、领取出入境证件。市民办理出入境证件将更加简捷。申请人递交申请后，按照《取证凭单》注明的取证日期到递交申请所在的分县局接待大厅交费、领取出入境证件，也可通过设在接待大厅的速递公司办理速递业务。出入境证件取证时限，将调整为市局出入境管理处和城八区公安分局，及大兴、通州、顺义、昌平公安分局受理公民出境申请的为7个工作日取证，门头沟、房山、平谷、怀柔分局，密云、延庆县局受理公民出境申请的为10个工作日取证。
                            注意：签注为"L"签的客人不能单独出关，预订自由行产品，需要上送关名单，每人交纳300元送关费，此费用在机场缴纳。<br>
                            出境<br>
                            免签或者落地签：请问您的护照有效期是到什么时候？----护照有效期需要在半年以上<br>
                            <h4>6.旅游过程中我可以脱离团队自己玩吗?</h4>
                            您参加的是团队旅游，期间发生问题，我们是要负责任的。因此，原则上我们是不允许游客在境外脱团活动的。如果您有要事办理，您可以选择我们的自由行产品，签署单项委托合同。（东南亚国家）<br>
                            <h4>7.我是回民，能否单独用餐?</h4>
                            对于回民餐（素食餐）我们是特别重视的，也会提醒当地特别安排，如果这种要求的人数多，我们会单独安排饭桌，如果人数少，只得安排您和其它团友一桌用餐，但我们会在菜品上作特别的准备。<br>
                            <h4>8.3个成人可以住一间房吗？</h4>
                            大多数酒店都是双人标准间。需由您的销售人员核实酒店的具体情况，如果酒店允许加床，可以安排加床并且需要您支付加床费。但是如果酒店无法加床，您就只能与其它客人拼住或者支付单间差费用。<br>
                            <h4>9.刷卡会后为什么不能马上退款？</h4>
                            真抱歉，刷卡的收退手续要通过银联，有些繁琐，银联的结算系统一般需要20个工作日才能完成退款。麻烦您20个工作日后查一下信用卡，如果有问题请您联系我们，我们帮您查询。<br>
                            <h4>10.如何购买旅游保险？</h4>
                            建议您购买旅游意外伤害保险，请联系您的销售人员。我们推荐您购买中国人寿保险或美亚旅行险。
                            </p>
                        </div>
                        <div class="tab-pane fade" id="6">
                            <h2 id="section-7">意见反馈</h2>
                            <div class="form-group intro_area">
                                <label class="col-xs-2 control-label intro_info">我的意见</label>
                                <div class="col-xs-10">
                                    <textarea class="form-control" rows="8" placeholder="输入我的意见"></textarea>
                                </div>
                            </div>
                            <div class="form-group intro">
                                <label class="col-xs-2 control-label intro_info">我的邮箱</label>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <input type="email" class="form-control"
                                               placeholder="请输入您的电子邮件">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group intro">
                                <label class="col-xs-2 control-label intro_info"></label>
                                <div class="col-xs-10">
                                    <button type=submit class="btn btn-success btn-block"
                                            style="width: 140px ; height: 40px">
                                        提交
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="7">
                            <h2 id="section-8">友情链接</h2>
                            <div>
                                <ul>
                                    <li><a href="#">乌镇官网</a></li>
                                    <li><a href="#">古北水镇</a></li>
                                    <li><a href="#">七洲网</a></li>
                                    <li><a href="#">人民网旅游</a></li>
                                    <li><a href="#">北京旅游网</a></li>
                                    <li><a href="#">穷游网</a></li>
                                    <li><a href="#">蜂鸟网</a></li>
                                    <li><a href="#">去哪儿机票</a></li>
                                    <li><a href="#">相约久久旅游网</a></li>
                                    <li><a href="#">旅游签证</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="8">
                            <h2 id="section-9">售后服务</h2>
                            <h4>•价格透明</h4>
                            明码实价，实时更新，更保持该产品的实际销售价格，在网站上销售的产品以标价为准（节假日或特殊原因价格调整除外）。<br>
                            <h4>•行程透明</h4>
                            自途针对团队游涉及的食、住、行、游、购、娱、导等细节，整合推出"自途透明团"，明确规定所有透明团产品均需做到：<br>
                            1.大小景点介绍全，行程不走样；<br>
                            2.酒店资讯全披露所见即所得；<br>
                            3.购物店信息先知晓，看得清楚买得明白；<br>
                            4.航班信息提前公示，行车里程清楚说明；<br>
                            5.推荐项目早公布，一路心中有数；<br>
                            6.团餐比例早知道，美食计划更自由。游玩时间明确定，行程不匆忙无遗憾。<br>
                            <H4>•专属客服</H4>
                            成功预订自途产品后，如有问题，将有专属客服为您服务，为你的旅游提供支持。<br>
                            <H4>•特殊原因退订保障</H4>
                            为了分担自途旅游客户因为自身不能预期和控制的特殊原因退订产生的损失，自途设立"特殊原因退订保障"。<br>
                            如果您满足下述公示条件，请最晚于出行日前联系我司申请，并在提出申请后一周内交齐材料。相应材料审核通过后自途将补偿实际团队退订人员的实际损失、并退还剩余未产生的费用。如有突发情况，敬请您尽快联系自途处理。<br>

                            <h4>•酒店升级保障</h4>
                            在自途预订成功后，如果因为意外状况导致原本预订的房型无法入住。自途将按照免费正向升级的方式给您补偿：<br>
                            1）当订单确认后，如果您在目的地被酒店正式告知没有您预订的房间：<br>
                            自途将免费为您在该酒店进行房型升级，最高不超过双倍于您预订房间价格的房型。<br>
                            2）如果该酒店没有可供升级的房间：<br>
                            自途将为您安排周边同等或更高一级的酒店住宿，并且承担：<br>
                            a.酒店房间差价。<br>
                            b.由于更换酒店所必须的交通费，暨两家酒店间的交通费用。<br>
                            <h4>•旅游预警机制</h4>
                            自途以建立健全旅游预警机制，在自然灾害、病疫灾害、政治变动、突发事件等情况下，及时联系即将出行及处于行程中的客人，提醒其注意风险，从而保障客人安全和权益。<br>
                            <h4>•应急援助体系</h4>
                            在旅途中，如遇到行李、证件丢失或误机等情况，客人将第一时间得到自途工作人员的指引、协调和尽可能的帮助。如遇突发严重疾病，客人将得到我们及时送医就诊的帮助；如遇到意外事故导致旅行难以为继，客人也将得到我们力所能及的必要援助。<br>
                        </div>
                        <div class="tab-pane fade" id="9">
                            <h2 id="section-10">关于我们</h2>
                            <p>
                            <h3>什么是自途</h3>
                            <strong>自途</strong>
                            创立于1999年，总部设在中国上海，员工30000余人，目前公司已在北京、广州、深圳、成都、杭州、南京、厦门、重庆、青岛、沈阳、武汉、三亚、丽江、香港、南通17个城市设立分支机构，在南通设立服务联络中心。2010年，自途旅行网战略投资台湾易游网和香港永安旅游，完成了两岸三地的布局。2014年，投资途风旅行网，将触角延伸及北美洲。
                            作为中国领先的综合性旅行服务公司，自途成功整合了高科技产业与传统旅行业，向超过2.5亿会员提供集无线应用、酒店预订、机票预订、旅游度假、商旅管理及旅游资讯在内的全方位旅行服务，被誉为互联网和传统旅游无缝结合的典范。
                            凭借稳定的业务发展和优异的盈利能力，CTRIP于2003年12月在美国纳斯达克成功上市，上市当天创纳市3年来开盘当日涨幅最高纪录。
                            今日的自途在在线旅行服务市场居领先地位，成为全球市值前三的在线旅行服务公司。
                            <h3>历史荣誉</h3>
                            <p>
                                2015年06月 《TravelWeeklyChina 旅讯》2015年度“中国最佳在线旅游网站”<br>
                                2014年12月 自途入选《财富》“2011最受赞赏中国公司之一”
                            </p>
                            <h3>服务宣言</h3>
                            <p>
                                1.
                                您能感受专业，我们专注全面旅行服务。我们集无线应用、酒店预订、机票预订、旅游度假、商旅管理、旅游资讯服务于一体，为您打造全方位的旅行方案，同时提供丰富多彩的积分兑换。<br>
                                2.您请安心托付，我们的服务准确率已达国际领先水平。依托强大的技术能力，我们建立了先进的服务系统，10000多位专业人员24小时为您提供无微不至的客户服务。并以国际先进的六西格玛标准控制服务流程，确保您的旅程高枕无忧。<br>
                                3.您可全然信赖，我们言出必行。无论起因是否与我们有关，我们都将竭力在第一时间为您妥善安排，我们会履行所有对您的责任及承诺，绝不推诿，1小时飞人通道、自然灾害旅游体验保障金、海外团队游标准等等。
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}

